/* General Styling : Wrapper, Titles */

.wrapper {
	font-family: Dosis, serif;
	color: #5a5a5a;
	width: 85%;
	margin: auto;
}

h1 { 
	margin-top: 10;
	font-size: 3em;
}

.titleh2,
h2 {
	color: #323232;
	font-size: 1.7em;
	font-weight: bold;
	font-family:'Yatra One', serif;
}
/* Top of the Page Styling */

header {
	font-family:'Yatra One', serif; 
	color: #bfbfbf;
	background-color: #323232;
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 20px 0;
	text-align: center;
}

.intro {
	border-bottom: solid 4px #323232;
	border-bottom-width: 0.5em;
	margin-bottom: 3px;
	text-align: center;
	color: #bfbfbf;
}
/* Form Styling */

.maincontent {
	border-top: solid 1px #323232;	
	margin: auto;
	
}

.commande {
	margin: auto;
	margin: 10px 0;
}

.submit {
	border : none;
}

/* Form Boxes styling */ 
.commande label,
.commande input,
.commande select {
	display: block;
	width: 100%;
	border: none;
}

.commande input, 
.commande select,
.commande textarea {
	background-color: #e5e5e5;
	border-radius: 5px;
	height: 45px;
}

.commande textarea {
	border:none;
}

.commande label {
	margin: 20px 0 10px 0;
}

.commande input,
.commande label {
	margin-bottom: 0px;
}


#accompagnement1, #accompagnement2, #accompagnement3  {
	width: 100%;
	height: 100px;
	border: 0;
	margin-top: -10px;
}


/* Submit Button styling */

input[type="submit"] {
	font-family: 'Yatra One', serif;
	color: #fff;
	background-color: #16b89c;
	display: block;
	margin : auto;
	margin: 10px 0 0 0;
	border-radius: 5px;
	width: 100%;
	padding: 7px;
	border: 0
}

/* Media Queries */

@media (min-width: 760px) {
	.wrapper {
		width: 80%;
	}
	
	.main-content,
	.newsletter {
		width: 100%;
	}
	
	.commande label,
	.commande input, 
	.commande select {
		display: inline-block;
		margin-bottom: 30px;
	}
	
	.commande label {
		width : 16%;
	}
	
	.commande input, 
	.commande select
		{
			width: 82%;
			margin: auto;
		}
		
	input[type="submit"] {
		margin-top: 20px;
		width: 100%;
	}
	 
}
